In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [30]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
import xgboost as xgb
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import GridSearchCV

##Reading datasets

In [12]:
#data created after applying PCA
df = pd.read_csv('/content/drive/MyDrive/Portfolio/Projects/Housing Price Prediction/Data preprocessing/model_data.csv', header=None)
#For saleprice column
data = pd.read_csv('/content/drive/MyDrive/Portfolio/Projects/Housing Price Prediction/Data/train.csv')
df.head()

,0,1,2,3,4,5,6,7,8,9,...,120,121,122,123,124,125,126,127,128,129
0,3.281501,-1.838097,-1.206268,1.256081,-0.163413,-0.499724,-0.315716,0.809230,0.395538,0.482085,...,-0.312469,0.465589,-0.177146,0.185926,0.128034,-0.045752,0.341612,0.200951,-0.453460,0.069194
1,-0.040093,1.845834,-0.460742,0.051954,-0.868974,0.670443,0.403390,-1.779818,0.642514,0.042843,...,0.417651,-0.419521,1.205778,0.420522,-0.749363,0.251184,0.035967,0.985737,0.105880,0.432738
2,3.702446,-1.435701,-0.848173,1.255923,-0.355925,-0.930523,0.061037,1.041740,0.476816,0.353427,...,-0.300185,0.195072,-0.021655,0.194537,0.118580,-0.393376,0.210552,0.148866,-0.015006,0.109655
3,-2.124114,-0.942786,1.242914,0.910772,-1.283911,-0.886924,-0.579206,-0.288739,0.592145,-0.299452,...,1.382754,0.189218,0.634427,0.743708,0.398317,0.389789,0.428402,-0.560206,0.520781,0.407525
4,5.543249,-1.488378,1.043022,1.307736,-0.570282,-0.982467,0.224270,0.343050,-0.401241,-0.153523,...,0.127705,0.020146,0.401918,-0.177636,-0.194775,-0.633469,0.105181,0.007091,1.027207,0.275335

In [16]:
# Extract the values from the dataframe and store them in the variable x.
# This will include all the features (columns) of the dataset.
X = np.array(df.values)
# Extract the values from the 'SalePrice' column of the dataframe and store them in the variable y.
# This will represent the target variable or the labels for the supervised learning task.
y = np.array(data['SalePrice'])

In [15]:
y.shape

(1460,)

#Model Deployment
Applying multiple models to ensure accurate predictions.           
Models to apply:          
- Linear Regression
- Random Forest
- XGBoost                  

Leveraging different algorithms to capture relationships in the data and provide robust predictions for the task.

##Linear Regression
Due to the non-normal distribution of our target variable (SalePrice), we applied a log normal transformation. This technique involves taking the logarithm of the variable's values, converting skewed data to a more symmetrical distribution. This transformation ensures better adherence to modeling assumptions and can enhance the performance of specific algorithms.

In [26]:
# Apply logarithmic transformation to the target variable
transformed_y = np.log(y)

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, transformed_y, test_size=0.2, random_state=42)

# Initialize and fit the linear regression model
regression_model = LinearRegression()
regression_model.fit(X_train, y_train)

# # Make predictions on the testing data
y_pred = regression_model.predict(X_test)

# # Apply the inverse logarithmic transformation to obtain predictions in the original scale
y_pred_original_scale = np.exp(y_pred)

# # Evaluate the model using mean squared error (MSE)
mse = mean_squared_error(y_test, y_pred)
print(f"Mean Squared Error: {mse}")

Mean Squared Error: 0.03114410376067262

##Random Forest

In [39]:
#data for random forest
# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
clf = RandomForestRegressor()
clf.fit(X_train, y_train)
pred = clf.predict(X_test)
mse_rf = mean_squared_error(y_test , pred)
print(f"Mean Squared Error: {mse}")

Mean Squared Error: 0.03114410376067262

##XGBoost

In [40]:
# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
# Initialize the XGBoost model
xgboost_model = xgb.XGBRegressor()
# Fit the model on the training data
xgboost_model.fit(X_train, y_train)
# Make predictions on the testing data
y_pred = xgboost_model.predict(X_test)
# Calculate the mean squared error (MSE)
mse = mean_squared_error(y_test, y_pred)
print(f"Mean Squared Error: {mse}")

Mean Squared Error: 1295348436.9918277

Based on the higher scores obtained for Random Forest and Linear Regression in our experiments, it suggests that these algorithms perform well for predicting housing prices. Therefore, Random Forest and Linear Regression are considered as the most suitable algorithms for this specific task.